<section class="hero is-success has-background-success is-large">
  <div class="hero-head">
    <nav class="navbar-end">
      <div class="container">
        <div class="navbar-brand">
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar">
              <a href="/" class="navbar-item is-item"> Home </a>
              <% if(user) { %>
                <a href="/trips" class="navbar-item"> View Trips </a>
                <a href="/auth/sign-out" class="navbar-item"> Sign Out </a>
              <% } else { %>
                <a href="/auth/sign-in" class="navbar-item">Sign In</a>
                <a href="/auth/sign-up" class="navbar-item">Sign Up</a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>


  

