<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Edit Details</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit your trip details</h1>

    <h3>Passenger Details</h3>

    <button type="submit">Update</button>
  </form>
</body>
</html>
