<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Trips</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
   <ul>
    <% trips.forEach(trip => { %>
     <li><a href="/trips/<%= trip._id %>">
        <%= trip.countries %> <br></a>
    </li> <br>
    <% }) %>
   </ul>
   <a href="/trips/new">
    <div>+</div>
   </a>     
</body>
</html>